<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Bootstrap CSS & JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>body {background-color: #fbf6ec;}</style>
    <title>{{ title }}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Seminario Gastronómico</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/inscritos/">Inscritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/inscripcion/">Nueva Inscripción</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/instituciones/">Instituciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/institucion/nuevo">Ingresar Instituciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="alert alert-info display-1 text-center">{{ accion }}</div>

        <!-- Contenido de la página principal -->
        <!-- Aquí puedes agregar contenido específico de la página principal -->

    </div>
</body>
</html>
